<% className = form_action.delete(:class) %>
<%= form_tag(form_action, :id => "#{form_type}_form", :enctype => "multipart/form-data", :class => className) do %>

  <%= render :partial => "form" %>

<% end %>
<%logger.info "asdf: #{@article}"%>
<% if @article && @article.id && current_user.admin? %>
  <h4>Merge Articles</h4>
  <%= form_tag(merge_articles_path(:id => @article.id), :id => "merge_with", :name => "merge_with") do %>
   <%= label_tag "Article ID" %>
   <%= text_field_tag :merge_with, "" %>
   
   <%= submit_tag "Merge" %>
 <% end %>
<% end %>
